body { 
    width: 100%;
    height: 100vh;
    background: url(../../public/sign-up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.138);
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);    
}

.container > form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.8rem;
}

.container > form > h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-inline-start: 50%;
    margin-block-end: 2rem;
    transform: translateX(-50%);
}

.container > form > .input-group {
    position: relative;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.632);
    transform: translateY(-0.5rem);
}

.container > form > .input-group > label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    pointer-events: none;
    color: white;
    transform: translateY(0.6rem);
    transition: all 0.3s ease-in-out;
}

input {
    all: unset;
    color: rgb(238, 235, 235);
    padding: 0.5rem;
    height: 2.5rem;
    width: 100%;
    min-width: 22rem;
    font-size: 1.35rem;
    border-bottom: 3px solid white;
    background: transparent;
    outline: none;
}

main .container form button {
    background: white;
    border: none;
    outline: none;
    height: 2.6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    transition: all 100ms ease-in-out;
}

main .container form button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
}
main .container form button:active {
    background: white;
    transform: scale(0.98);
}

main .container form p {
    text-align: center;
    color: white;
}

main .container form p > a {
    margin-inline-start: 0.5rem;
    color: rgb(58, 94, 255);
    text-decoration: none;
}

main .container form p > a:hover {
    color: rgb(181, 181, 254);
    text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent !important; /* Ensures background stays transparent */
    color: black !important; /* Ensures text remains visible */
    transition: background-color 5000s ease-in-out 0s !important; /* Prevent sudden autofill color flash */
}

/* Hey buddy, don't change the styles from up add new styles to bottom */

.container-personal-info {
    width: fit-content;
    height: fit-content;
    min-height: 26rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--card-foreground);
    position: relative;
}
body {
    background: var(--card-bg);
}
.container-personal-info input {
    width: 100%;
    min-width: 22rem;
    font-size: 1.35rem;
    border-bottom: 3px solid black;
    background: transparent;
    outline: none;
    color: black;
}

.container-personal-info > h2 {
    position: absolute;
}
.container-personal-info > label {
    color: black;
    font-size: 1.2rem;
    margin: 0.5rem;
}
.container-personal-info > .left,
.container-personal-info > .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    margin-block-start: 3rem;
}

.container-personal-info .input-group {
    margin: 0.8rem;
}

.container-personal-info > .left select,
.container-personal-info > .right select {
    height: 3.5rem;
    width: 100%;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: var(--card-bg);
    border: none;
    border-radius: 1rem;
}

.container-personal-info .buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    left: 90%;
    bottom: 1rem;
    margin-block-start: 25rem;
}

.container-personal-info .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: black;
    border: none;
    outline: none;
    height: 2.6rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    transition: all 100ms ease-in-out;
}

.container-personal-info .buttons button > svg {
    margin-inline-end: 0.5rem;
    color: aqua;
}

.container-personal-info .buttons button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.container-personal-info .buttons button:active {
    cursor: pointer;
    transform: scale(0.88);
}